aws-ec2/.terraform
aws-ec2/.terraform.lock.hcl
aws-ec2/terraform.tfstate
aws-ec2/terraform.tfstate.backup

aws-project-static-webiste-s3/.terraform
aws-project-static-webiste-s3/.terraform.lock.hcl
aws-project-static-webiste-s3/terraform.tfstate
aws-project-static-webiste-s3/terraform.tfstate.backup

aws-project-static-webiste-s3-route53/.terraform
aws-project-static-webiste-s3-route53/.terraform.lock.hcl
aws-project-static-webiste-s3-route53/terraform.tfstate
aws-project-static-webiste-s3-route53/terraform.tfstate.backup


aws-s3/.terraform
aws-s3/.terraform.lock.hcl
aws-s3/terraform.tfstate
aws-s3/terraform.tfstate.backup



tf-backend/.terraform
tf-backend/.terraform.lock.hcl
tf-backend/terraform.tfstate
tf-backend/terraform.tfstate.backup